<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <Beey Login="ladislav.seps@newtontech.cz" Password="OVPgod" URL="http://localhost:61497" TranscriptionLocale="cs-CZ">
    <LogMessages>true</LogMessages>
    <LogUpload>true</LogUpload>
    <MessageEcho>true</MessageEcho>
    <LandeckAPIURL>http://czthp24ntvr.newtonmedia.eu/api2/</LandeckAPIURL>
    <FFmpeg>./ffmpeg.exe</FFmpeg>
    <FFmpegAudioParams>-threads 1 -y -re -rw_timeout 30000000 -follow 1 -seekable 0 -i "{0}" -map 0:a:0 -c:a aac -b:a 64k -f mpegts -</FFmpegAudioParams>
    <FFmpegVideoParams>-threads 1 -y -re -rw_timeout 30000000 -follow 1 -seekable 0 -i "{0}" -rw_timeout 60000000 -follow 1 -seekable 0 -i "{1}" -map 0:a:0 -map 1:v:0 -vf "scale=320:-1,fps=30" -c:v libx264 -preset fast -r 30 -g 30 -keyint_min 30 -c:a aac -b:a 64k -f mpegts -</FFmpegVideoParams>
  </Beey>
</Configuration>