<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <Beey Login="ladislav.seps@newtontech.cz" Password="OVPgod" URL="http://localhost:61497" TranscriptionLocale="pl-PL">
    <LogMessages>true</LogMessages>
    <LogUpload>true</LogUpload>
    <MessageEcho>true</MessageEcho>
   </Beey>
</Configuration>