<?xml version="1.0" encoding="utf-8" ?>

<Configuration>
  <SpeakerDbUpdater Url="http://localhost:61497"
                    Login="ladislav.seps@newtontech.cz" Password="OVPgod">
    <UpdateDb>true</UpdateDb>
    <IniPath>tvrlidi.ini</IniPath>
    <InsertOnlyNew>true</InsertOnlyNew>
    <RemoveDuplicities>true</RemoveDuplicities>
  </SpeakerDbUpdater>
</Configuration>