<?xml version="1.0" encoding="utf-8" ?>

<Configuration>
  <ProjectMerger Url="http://localhost:61497"
                    Login="milos.kudelka@newtontech.cz" Password="OVPgod">
    <WinFFMpeg>.\FFmpeg\ffmpeg.exe</WinFFMpeg>
    <WinFFProbe>.\FFmpeg\ffprobe.exe</WinFFProbe>
    <UnixFFMpeg>./FFmpeg/ffmpeg</UnixFFMpeg>
    <UnixFFProbe>./FFmpeg/ffprobe</UnixFFProbe>
    <MergeParams>-loglevel info -i "{0}" -i "{1}" -filter_complex amerge=inputs=2 "{2}"</MergeParams>
  </ProjectMerger>
</Configuration>
